*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #172031;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'IBM Plex Mono', monospace;
}

label{
    margin-block-start: 0em; 
    color: white;  
}
.input_area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
input{
    height: 2rem;
    border-radius: 10px;
    padding: 12px 20px;
}
input:focus{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 8px;
}
textarea{
    width: 100%;
    margin-top: 2em;
}
.container{
    background-color: #BABABA;
    display: inline-flex;
    padding: 1.5em;
    border-radius: 0.5em;
    flex-direction: column;
    align-items: center;
    width: 30em;
    margin-top:50px;
    gap: 42px;
    
}

.form{
    display: flex;
    justify-content: center;
    height: 200px;
}
.btn{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 3em;
    width: 100%;
}
button{
    height: 3em;
    width: 100%;
    background-color: #03E9F4;
    border: none;
    color: white;
    flex-direction: row;
}
button:hover{
    cursor: pointer;
}
